#!/bin/sh
set -e


# Mount pseudo filesystems
mount -t proc proc /proc
mount -t sysfs sys /sys
mount -t devtmpfs devtmpfs /dev
mount -t tmpfs tmpfs /tmp
mount -t tmpfs tmpfs /run

#
# Load modules
#
# Minimal storage module list
for m in libata ahci nvme-core nvme scsi_mod sd_mod sg xhci-pci xhci-hcd ehci-pci ehci-hcd ohci-pci ohci-hcd uas mmc_core mmc_block sdhci sdhci-pci usb-storage dm-mod dm-crypt essiv xts mbcache isofs jbd2 ext4 sr_mod cdrom virtio_scsi; do
    modprobe "$m" || true
done

# Optional: trigger enumeration delay
sleep 1
ln -sf /proc/self/fd /dev/fd && ln -sf fd/0 /dev/stdin && ln -sf fd/1 /dev/stdout && ln -sf fd/2 /dev/stderr
#
# Set the UUID of the persistent storage so we can find the boot device
#
PERSISTENT_UUID="@@UUID@@"

#
# Detect boot device
#
mkdir /boot
for disk in /dev/sd* /dev/nvme*n* /dev/mmcblk*; do
    # Skip partitions (only check whole disks)
    [[ -b "$disk" ]] || continue
    # List partitions on this disk
    for part in $(sgdisk -i 1 "$disk" 2>/dev/null; sgdisk -i 2 "$disk" 2>/dev/null); do
        # Check UUID of partition
        uuid=$(sgdisk -i "${part##* }" "$disk" 2>/dev/null | awk '/Partition GUID/ {print $4}')
        if [ "$uuid" = "$PERSISTENT_UUID" ]; then
            # Found the disk containing persistent storage
            BOOT_PART="${disk}1"  # first partition
            mount "$BOOT_PART" /boot
            break 2
        fi
    done
done

# Fallback to /dev/sr0 if nothing else was found
if [[ -z "$BOOT_PART" && -b /dev/sr0 ]]; then
    mount -o ro /dev/sr0 /boot
    BOOT_PART="/dev/sr0"
fi


#mount "$BOOT_PART" /boot

#
# Validate all Checksums for the boot
#

# Path to checksum file
CHECKSUM_FILE="/etc/checksums.txt"

# Make sure the checksum file exists
if [ ! -f "$CHECKSUM_FILE" ]; then
    echo "Checksum file not found: $CHECKSUM_FILE"
    exit 1
fi

# Change to /boot because checksums are relative to boot dir
cd /boot || exit 1

# Validate all checksums
echo "Validating boot environment"
if sha512sum -c "$CHECKSUM_FILE" > /dev/null; then
    echo "All files passed checksum verification"
else
    echo "Checksum verification FAILED"
    echo "Press Enter to continue..."
    read dummy
    reboot -f -p
fi

cd /

#
# Parse /proc/cmdline for TARGET=
#
for param in $(cat /proc/cmdline); do
    case $param in
        target=*)
            TARGET="${param#target=}"
            ;;
    esac
done

#
# Sanity check
#
if [ -z "$TARGET" ]; then
    echo "No TARGET specified. Dropping to shell."
    exec getty -nl /bin/sh 0 /dev/console
fi

#
# MODE SELECTOR
#

case "$TARGET" in

    #
    #
    # 1. Drop to shell mode
    #
    shell)
        echo "Entering emergency shell..."
	sleep 3
        exec getty -nl /bin/login 0 /dev/console
	reboot -f
        ;;

    #
    # Unknown mode
    #
    *)
        echo "Unknown TARGET mode: $TARGET"
        exec getty -nl /bin/sh 0 /dev/console
	reboot -f
        ;;
esac

