# =============================================================================
# Live-build configuration file
# -----------------------------------------------------------------------------
# Values sourced by make_image.sh
# =============================================================================

# User account
LIVE_USER="liveuser"
LIVE_PASSWORD="live"

# Root password (for initramfs)
ROOT_PASSWORD="rootpass"

# Desktop selection (xfce or lxqt)
DESKTOP_ENV="lxqt"

# My test system is a hacked chromebook that can operate as a tablet
# As such it needs to auto rotate the screen. This is not a common
# Config so Im making it an option.
AUTO_ROTATE=true

#
# Below here is not implimented yet
#

#
# ACR39U support for JCOP4 smartcards
#
ACR39U=true

#
# Smartpgp Smart card app support
#
SMARTGPG=true
SMARTPGP_PUBKEY="...public key block..."
SMARTPGP_FINGERPRINT="XXXX XXXX XXXX"

#
# Initramfs-mini encryption and verification via Smartpgp card
#
VALIDATE_INIT_MINI=true

#
# initramfs encryption for main boot
#
ENCRYPT_INIT=true

# 
# Require challenge/response to unlock Stage-2
# 
ENABLE_CHALLENGE_RESPONSE=true 

