# =============================================================================
# Live-build configuration file
# -----------------------------------------------------------------------------
# Values sourced by make_image.sh
# =============================================================================

# User account
LIVE_USER="liveuser"
LIVE_PASSWORD="live"

# 
# Root password (for initramfs) 
# Need to pull this, nolonger used outside of initrd-menu which needs to be converted.
#
ROOT_PASSWORD="rootpass"

# Desktop selection (xfce or lxqt)
DESKTOP_ENV="lxqt"

# My test system is a hacked chromebook that can operate as a tablet
# As such it needs to auto rotate the screen. This is not a common
# Config so Im making it an option.
AUTO_ROTATE=true

#
# Below here is not implimented yet
#

#
# Require boot authentication
# The auth method is set based on KEY_STORE setting
#
UNLOCK_BOOT=true

#
# Max failed boot login attempts
#
MAX_FAILED=3

#
# Wipe the persistent storage after max failed boot logins
#
WIPE_ON_FAIL=false

#
# Crypto options
#   openssl: use openssl for crypto finctions
#   pgp: use pgp for crypto function
#
CRYPTO="openssl"

#
# Validation of boot environtment
#  sha512: validate all /boot files using sha512 hashes baked into securerd
#  signature: cryptographicly sign the securerd, initrd, and vmlinuz files and validate on boot
#  Multiple selections seperated by pipes
#
VALIDATION="sha512|signature"

#
# Key store options.
# This sets the boot auth type.
# These are arranged from weakest to strongest option.
# You can choose only 1
#
#  KEYSTORE: create an encrypted keystore on the securerd image with the keys (password)
#  AT24C64: Use an AT24C64 EEPROM card with the GhostDisk Layout (requires i2c reader)
#  SLE4428: Use a SLE4428 card with the GhostDisk Layout  (uses ACR39U smart card reader)
#  SLE4445: Use a SLE4445 card with the GhostDisk Layout (uses ACR39U smart card reader)
#  JCOP4: use a JCOP4 smart card with SmartPgpApplicaiton on it. (uses ACR39U smart card reader)
#  
KEY_STORE="KEYSTORE"
