# =============================================================================
# Live-build configuration file
# -----------------------------------------------------------------------------
# Values sourced by make_image.sh
# =============================================================================

# User account
LIVE_USER="liveuser"
LIVE_PASSWORD="live"

# Root password (for initramfs)
ROOT_PASSWORD="rootpass"

# Desktop selection (xfce or lxqt)
DESKTOP_ENV="lxqt"

# My test system is a hacked chromebook that can operate as a tablet
# As such it needs to auto rotate the screen. This is not a common
# Config so Im making it an option.
AUTO_ROTATE=true

