[Desktop Entry]
Name=Setup Persistent Storage
Comment=Creates links to specific files and directories between your home directory and persistent Encrypted storage that will auto setup on login.
Exec=/usr/bin/create_links
Icon=encryption-icon
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
